{% extends 'index.html' %}

{% block content %}
  <h1 class="page-header">ToDos!</h1>
  <table class="todo" id="todo-table">
    <thead>
      <tr>
        <th>#</th>
        <th> Description </th>
        <th> Done </th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todo_list %}
        <tr>
          <td>{{ todo.id }}</td>
          <td>{{ todo.description }}</td>
          <td>{{ todo.done }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="9" class="text-center bg-warning">No todos</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}